@model IEnumerable<VetPet.Domain.PetModule.Aggregate.PetAgg.Pet>

@{
    ViewBag.Title = "Pagina principal";
}

<div class="well">
    <div class="row">
        <div class="col-md-3">
            <p class="alert alert-success text-center">
                El Valor total de los servicios es: <strong>@string.Format("{0:n0} COP", ViewBag.TotalPrice)</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apodo</th>
                        <th>Raza</th>
                        <th>Costo total</th>
                        <th>Proxima tarea</th>
                        <th>Tareas pendientes día</th>
                        <th>Tareas realizadas día</th>
                        <th>% tareas realizadas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var pet in Model)
                    {
                        var taskInfo = pet.GetTasksInfo();
                        <tr>
                            <td>@pet.Name</td>
                            <td>@pet.NickName</td>
                            <td>@pet.Breed</td>
                            <td>@string.Format("{0:n0} COP", taskInfo.TotalPrice)</td>
                            @if (taskInfo.NextTask != null)
                            {
                                <td>@string.Format("{0} ({1})", taskInfo.NextTask.Task.Name, taskInfo.NextTask.Task.Type)</td>
                            }
                            else
                            {
                                <td>No hay tareas pendientes</td>
                            }
                            <td>@taskInfo.PendingTasks</td>
                            <td>@taskInfo.TasksDone</td>
                            <td>@taskInfo.PercentageTasksDone %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>