@model VetPet.Models.UserViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Informaci&oacute;n personal:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre completo:</dt>
        <dd>
            @Model.FullName
        </dd>
        <dt>Edad:</dt>
        <dd>
            @Model.Age
        </dd>
        <dt>G&eacute;nero:</dt>
        <dd>
            @Model.Gender
        </dd>

        <dt>Correo Electr&oacute;nico:</dt>
        <dd>
            @Model.Email
        </dd>

        <dt>Tel&eacute;fono:</dt>
        <dd>
            @Model.PhoneNumber
        </dd>
        <dt>

        </dt>
        <dd>
            @Html.ActionLink("Editar detalles", "EditDetails", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink("Ir a la pagina principal", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
        </dd>
    </dl>
</div>
